.center_div{
    margin: 0 auto;
    width: 80% 
}

.center_button{
    float: center;
    text-align: center;
}



.ozadje {
    background: url('../slike/letalisce_prijava.jpg') no-repeat;
     /*zapolnem ozadje: */
    -webkit-background-size: cover;
    -moz-background-size: cover; 
    -o-background-size: cover;
    background-size: cover;
}

.ozadje_form {
    border: 0px solid #fff; padding: 50px 60px; margin-top: 10vh;
    -webkit-box-shadow: -1px 2px 26px 11px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 2px 26px 11px rgba(0,0,0,0.75);
    box-shadow: -1px 2px 26px 11px rgba(0,0,0,0.75);
}

.ozadje_navigacije {
   color: blue;

}


.dropdown-menu > li {
    background-color: #007bff;
}

div#menu_dol > a:hover {
    background-color: #007bff;
}

div#zaposleni > ul > li > a:hover  {
    color: #fff;
}


.formaa {
    
    display: inline-block;
}

.iskalnik {
    float: right;
}



div#iskalna {
    
    background: #28a745;
    
}


.tabela > tr:hover {
    background-color: rgba(41, 103, 182, 0.89);
    color: #007bff;
}



div#klobasa {
    padding-top: 10vh;
}


.dodaja {
    text-align: center;
}

div#napaka {
    color: red;
}

div#izbira > div#napaka {
    padding-left: 15px;
}




div#MP {
    background-color: azure;
}



.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    min-height: 100vh;
    position: absolute;
}

a[data-toggle="collapse"] {
    position: relative;
}


@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
}




body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

#sidebar {
    /* don't forget to add all the previously mentioned styles here too */
    background: #282e2a;
    color: #fff;
    transition: all 0.3s;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #282e2a;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}
#sidebar ul li a:hover {
    color: #7386D5;
    background: #fff;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #fff;
    background: #282e2a;
}
ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}

